.ant-checkbox-checked .ant-checkbox-inner {
  background: #582be8;
  border-color: #1890ff;
}
.ant-checkbox-inner {
  border-radius: 50%;
  height: 22px;
  width: 22px;
}
.ant-checkbox-inner::after {
  left: 32%;
}
.ant-btn-link {
  @apply text-accent;
}
.ant-btn-link:hover {
  @apply text-accent opacity-80;
}
.ant-btn, .ant-message-success, .ant-modal-close-x {
  @apply flex items-center justify-center;
}
.ant-modal-footer {
  @apply flex justify-end;
}